body {
    background-color: forestgreen;
    color: white;
    text-align: center;
}

ul {

   text-align: left;
   font-weight: bold;
   color: darkgrey;
   font-size: xx-large;

}

.home-image {
    width: 250px;
border: 1px solid black;
}

.container-p {

   position: absolute;
   bottom: 10px;
   width: 100%;
    
    
   
}
    

